.contact_form {
  background-color: #13171c;
  color: #fafafa;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@media (min-width: 960px) {
  .contact_form {
    display: flex;
    flex-direction: row;
  }
}

.contact_form_title_container {
}

@media (min-width: 960px) {
  .contact_form_title_container {
    height: 500px;
  }
}

.contact_form_title {
  font-size: 42px;
  font-weight: 700;
}

.contact_form_upper_fields {
}
@media (min-width: 960px) {
  .contact_form_upper_fields {
    display: flex;
    gap: 20px;
  }
}
.contact_form_label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.contact_form_input::placeholder {
  color: #eeeeee80;
}
.contact_form_input {
  font-size: 16px;
  color: #fafafa;
  width: 300px;
  height: 50px;
  padding: 8px;
  background-color: #393e4680;
  border: none;
  border-radius: 16px;
  outline: none;
}
.contact_form_lower_fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 960px) {
  .contact_form_lower_fields {
  }
}
.contact_form_textarea {
  color: #fafafa;
  font-size: 16px;
  resize: none;
  width: 300px;
  height: 300px;
  padding: 12px;
  border: none;
  border-radius: 16px;
  background-color: #393e4680;
  outline: none;
}
@media (min-width: 960px) {
  .contact_form_textarea {
    width: 600px;
  }
}
.form_btn_container {
  width: 300px;
}
.form_button {
  background-color: #00adb5;
  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}
@media (min-width: 960px) {
  .form_button {
    width: 200px;
  }
}
